#id_path {
    padding-right: 18px;
    width: 132px;
}

#id_path-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #212121;
    font-size: 15px;
    cursor: pointer;
}