#info {
    font-size: 11pt;
    max-width: 70%;
}

#info td {
    text-align: left;
    vertical-align: top;
}

#info tr:nth-child(1) td {
    text-align: center;
    font-size: 100pt;
}

#info td:nth-child(odd) {
    white-space: nowrap;
}

#info td:nth-child(even) {
    color: #bdbdbd;
}