#start-page {
    display: block!important;
    height: calc(100% - 40px)!important;
    margin-bottom: 10px;
    text-align: center;
}

#pdf {
    display: inline-block;
    overflow: auto;
    height: 100%;
}